h1{
	text-align:center;
	color: white;
	background-color: rgb(213, 32, 39);
	font-size: 60px;
}
p {
	font-size: 20px;
}
a {
	color: black;
}

ul {
	font-size:20px;
}

#grid {
	border: 3px solid rgb(213, 32, 39);
	display: grid;
	grid-template-columns: 270px 1fr;
}

div {
	border: 1px solid rgb(213, 32, 39);
}

#subjectSelected {
	text-align: center;
}
